<link rel="stylesheet" href="/ArtYouCanEat.css"/>
@model IEnumerable<Product>

<body>
<h2>Products</h2>
@*
<div style="display: block">
    <a href="/Product/GetProducts/">Featured Products</a>
</div>
    *@

<div class="grid-container">


    @foreach (var product in @Model)
        {
        <div class="grid-item border border-3 m-3 p-3">
           <span>@product.Name</span>
            <br>
           <span>Prices start at $@product.Price</span>
        </div>
     }

    </div>  

</body>

