@model IEnumerable<Category>
    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome to Blessed Creations</h1>

    </div>

<h3>Featured Seasonal Items</h3>


<section>
<h3>New Blog Post</h3>
<article>
    <p>Lorem ipsum </p>
    <a href="#">Read More</a>
</article>
</section>
<br>

<h3>

    

           