@model IEnumerable<Category>
    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome to Blessed Creations</h1>

       @*
        
        @foreach (var category in @Model)
        {
        <tr>
            <td><a href=/Product/ViewProduct/@category.CategoryID>@category.CategoryID</a></td>
            <td>@category.Name</td>
        </tr>
        }   

           *@